
@font-face {
font-family: Alegreya;
src: local("AlegreyaSans-Light.otf") format("opentype");
}


header {
	background-color:  white;
	height: 105px;
	border-bottom: 1px solid #2c3e50;
	font-family: "AlegreyaSans-Light", sans-serif;
}

header h1 {
	font-size: 40px;
	text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		padding-top: 20px;
	font-style: normal;
	margin-top: 0;
	color: #8A2BE2;
}

body {
		background:  -webkit-linear-gradient(-55deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);

		margin: 0px;
		font-family: "AlegreyaSans-Light", sans-serif;
}

#connex {
	border: 2px solid black;
	background-color: cyan;
	padding-bottom: 2em;
	padding-top: 2em;
	margin-left: 25em;
	margin-right: 25em;
	margin-top: 8em;
	text-align: center;
	font-size: 130%;
}

#connex p{
	font-weight: bold;
}


.notif{
	font-size: 120%;
	font-weight: bold;
	color: red;
	text-decoration: none;
}

.validation{
		background-color: #3bb39d;
	font-size: 20px;
	color: white;
	padding: 20px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 10px;
	margin-right: 15px;
	text-decoration: none;
}

.validation:hover{
	background-color: black;
	
}

#Button a {
	background-color: #3bb39d;
	font-size: 20px;
	color: white;
	padding: 20px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 10px;
	margin-right: 15px;
	text-decoration: none;
}

#Button a:hover{
	background-color: black;
	
}


#Button{
	margin-top: 100px;
	margin-left: 200px;
}

